/example/auth_private.key
/example/auth_public.key
/compiler
/compiler.new
/node_modules
/src/admin/[^\\]*/es6
/src/admin/[^\\]*/nodejs
/src/admin/[^\\]*/php
/src/app/[^\\]*/es6
/src/app/[^\\]*/nodejs
/src/app/[^\\]*/php
/src/compiler.new
